<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <a href="/flights/<%= flight._id %>/edit">
    <button type="submit">Edit Flight</button>
  </a>
  <table id="firstTable">
    <tr>
      <th>Departure: </th>
      <td><%= flight.departs %></td>
    </tr>
    <tr>
      <th>Airline: </th>
      <td><%= flight.airline %></td>
    </tr>
    <tr>
      <th>Airport: </th>
      <td><%= flight.airport %></td>
    </tr>
    <tr>
      <th>Flight Number: </th>
      <td><%= flight.flightNo %></td>
    </tr>
    <tr>
      <th>Meals: </th>
      <td>
        <ul>
          <% flight.meals.forEach(meal => { %>
            <li>
              <%= meal.name %>
              <form id="delete-meal-form" action="/flights/<%= flight._id %>/meals/<%= meal._id %>?_method=DELETE" method="POST">
                <button type="submit" class="smallBtn">X</button>
              </form>
            </li>
        </ul>
           <% }) %>
        <form id="add-meal-form" action="/flights/<%= flight._id %>/meals" method="POST">
          <select name="mealId">
            <% meals.forEach(meal => { %>
              <option value="<%= meal._id %>"><%= meal.name %></option>
            <% }) %>
          </select>
          <button type="submit" class="smallBtn">Add Meal</button>
        </form>
      </td>
    </tr>
  </table>

    <h2> Tickets </h2>
    <% if (flight.tickets.length) { %>
      <table>
        <thead>
          <tr>
            <th>Date Added</th>
            <th>Ticket</th>
            <th>Price</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% flight.tickets.forEach(ticket => { %>
            <tr>
              <td><%= ticket.createdAt.toLocaleDateString() %></td>
              <td><%= ticket.seat %></td>
              <td><%= ticket.price %></td>
              <td>
                <form id="delete-ticket-form" action="/flights/<%= flight._id %>/tickets/<%= ticket._id %>?_method=DELETE" method="POST">
                  <button>X</button>
                </form>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h3>No Tickets Yet</h3>
    <% } %>
    <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
      <label for="seat-input">Seat</label>
      <input name="seat" required pattern="[A-F][1-9]\d?">
      <label  for="price-input">Price</label>
      <input name="price" type="number">
      <button type="submit">Add ticket</button>
    </form>
</main>

<%- include('../partials/footer') %>